{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-2 col-lg-offset-5 col-xs-5 col-xs-offset-4">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData) }}
                </div>
            {% endif %}
            <form action="{{ path('login_check') }}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Логин" name="_username" value="{{ last_username }}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" placeholder="Пароль" name="_password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Войти</button>
                </div>
                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}
            </form>
        </div>
    </div>
{% endblock %}
